<mat-card>
    <mat-card-header>
        <mat-card-title>
            Finalizar Compra
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>Nome do Cliente</mat-label>
            <input type="text" matInput [(ngModel)]="cliente">
        </mat-form-field>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            Forma de Pagamento
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label for="pagamento">Selecione</mat-label>
            <mat-select [(ngModel)]="pagamentoId">
                <mat-option *ngFor="let pagamento of formaDePagamento" value="{{ pagamento.id}}">
                    {{pagamento.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-content>
        <a mat-raised-button color="primary" (click)="finalizar()">Finalizar Compra</a>
    </mat-card-content>
</mat-card>